[flake8]

docstring-convention = numpy

exclude = ./build/*

ignore =
    D202 #blank line after function docstring
    E303 #too many blank lines

max_line_length = 120

per-file-ignores =
    ./setup.py:E501,
    ./osmnx/__init__.py:F401,F403,
    ./osmnx/_api.py:F401
    ./tests/test_osmnx.py:D103,E402,F401,F841
