[build-system]
build-backend = "hatchling.build"
requires = ["hatchling"]

[project]
authors = [{ name = "Geoff Boeing", email = "boeing@usc.edu" }]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Topic :: Scientific/Engineering :: GIS",
  "Topic :: Scientific/Engineering :: Information Analysis",
  "Topic :: Scientific/Engineering :: Mathematics",
  "Topic :: Scientific/Engineering :: Physics",
  "Topic :: Scientific/Engineering :: Visualization",
]
dependencies = [
  "geopandas>=1.0",
  "networkx>=2.5",
  "numpy>=1.22",
  "pandas>=1.4",
  "requests>=2.27",
  "shapely>=2.0",
]
description = "Download, model, analyze, and visualize street networks and other geospatial features from OpenStreetMap"
dynamic = ["version"]
keywords = ["GIS", "Networks", "OpenStreetMap", "Routing"]
license = { text = "MIT License" }
maintainers = [{ name = "OSMnx contributors" }]
name = "osmnx"
readme = "README.md"
requires-python = ">=3.9" # match classifiers above and ruff/mypy versions below

[project.optional-dependencies]
entropy = ["scipy>=1.5"]
neighbors = ["scikit-learn>=0.23", "scipy>=1.5"]
raster = ["rasterio>=1.3", "rio-vrt>=0.3"]
visualization = ["matplotlib>=3.5"]

[project.urls]
Documentation = "https://osmnx.readthedocs.io"
"Code Repository" = "https://github.com/gboeing/osmnx"
"Examples Gallery" = "https://github.com/gboeing/osmnx-examples"

[tool.coverage.report]
exclude_also = ["@overload", "if TYPE_CHECKING:"]

[tool.hatch.build]
packages = ["osmnx"]

[tool.hatch.version]
path = "osmnx/_version.py"

[tool.mypy]
cache_dir = "~/.cache/mypy"
ignore_missing_imports = true
python_version = "3.9"
strict = true
warn_no_return = true
warn_unreachable = true

[tool.ruff]
cache-dir = "~/.cache/ruff"
exclude = ["build/*"]
line-length = 100

[tool.ruff.lint]
extend-ignore = ["N803", "N806", "SLF001"]
extend-select = ["ALL"]

[tool.ruff.lint.isort]
force-single-line = true

[tool.ruff.lint.mccabe]
max-complexity = 14

[tool.ruff.lint.pycodestyle]
max-line-length = 110 # line length + 10% since it isn't a hard upper bound

[tool.ruff.lint.pydocstyle]
convention = "numpy"

[tool.ruff.lint.pylint]
max-args = 8
