beautifulsoup4
black
bokeh
bottleneck
cartopy
contextily
coverage
cython
dill
flake8
flake8-bugbear
folium
furo
gdal
geopandas == 0.12.*
isort
jupyterlab
mapclassify
nbdime
nbqa
networkx == 2.5.*
nodejs
numexpr
numpy == 1.20.*
osmnx
pandas == 1.1.*
pillow
pip
pre-commit
psycopg2
pydocstyle
pysal
pytest
python == 3.8.*
python-igraph
rasterio
requests == 2.25.*
scikit-learn
scipy
seaborn
shapely == 2.0.*
sphinx
statsmodels
