# required dependencies
geopandas
networkx
numpy
pandas
requests
shapely

# optional dependencies
matplotlib
rasterio
rio-vrt
scipy
scikit-learn

# helpful extras
bottleneck
cartopy
folium
jupyterlab
numexpr
pillow
pysal
python-igraph
seaborn
statsmodels

# docs
furo
sphinx
sphinx-autodoc-typehints

# packaging
conda-smithy
hatch
pip
twine
validate-pyproject

# typing
mypy
pandas-stubs
typeguard
types-requests

# linting/testing
lxml
nbdime
nbqa
pre-commit
pytest
pytest-cov
ruff
