beautifulsoup4
bokeh
bottleneck
cartopy
coverage
coveralls
cython
dill
folium
jupyterlab
nodejs
numexpr
osmnx
pandana
pillow
pip
psycopg2
pysal
pytest
rasterio
seaborn
scikit-learn
scipy
sphinx
statsmodels
twine
urbanaccess
xlrd
xlwt