# basics
osmnx
python == 3.11.*

# helpful
beautifulsoup4
bokeh
bottleneck
cartopy
contextily
cython
folium
jupyterlab
mapclassify
numexpr
pillow
psycopg2
pysal
python-igraph
seaborn
statsmodels

# docs
furo
sphinx
sphinx-autodoc-typehints

# packaging
conda-smithy
hatch
pip
twine

# typing
mypy
pandas-stubs
typeguard
types-requests

# linting/testing
nbdime
nbqa
pre-commit
pytest
pytest-cov
ruff
