# basics
osmnx
python == 3.12.*

# helpful
beautifulsoup4
bokeh
bottleneck
cartopy
contextily
cython
folium
jupyterlab
mapclassify
numexpr
pillow
psycopg2
pysal
python-igraph
seaborn
statsmodels

# docs
furo
sphinx

# packaging
conda-smithy
hatch
pip
twine

# linting/testing
nbdime
nbqa
pre-commit
pytest
pytest-cov
ruff
