# This workflow runs the test suite using the latest/pre-release dependency
# versions.
name: Test latest/pre-release dependencies

permissions:
  contents: read

on:
  schedule:
    - cron: 15 4 * * 1  # every monday at 04:15 UTC
  workflow_dispatch:

jobs:
  test_latest_deps:
    if: ${{ github.repository == 'gboeing/osmnx' }}
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['3.13']

    defaults:
      run:
        shell: bash -elo pipefail {0}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false
          python-version: ${{ matrix.python-version }}

      - name: Install OSMnx with latest/pre-release dependencies
        run: |
          uv python pin ${{ matrix.python-version }}
          uv sync --no-cache --all-extras --group test --prerelease=allow

      - name: Test code
        run: uv run pytest --verbose --maxfail=1 --numprocesses=3 --dist=loadgroup
