name: Test latest/pre-release dependency versions

on:
  schedule:
    - cron: "0 7 * * 1" # every monday at 07:00 UTC
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    defaults:
      run:
        shell: bash -elo pipefail {0}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          cache: "pip"
          python-version: "3.13"

      - name: Install OSMnx with dependency pre-releases
        run: |
          python -m pip install --pre -r ./environments/tests/requirements-test-latest.txt
          python -m pip install -e .
          python -m pip list -v
          python -m pip show osmnx
          python --version

      - name: Test code
        run: pytest --verbose --maxfail=1
