# requirements
geopandas
networkx
numpy
pandas
requests
shapely

# extras
matplotlib
rasterio
rio-vrt
scikit-learn
scipy

# linting/testing
lxml
pre-commit
pytest
pytest-cov
typeguard

# docs
furo
sphinx == 7.*
sphinx-autodoc-typehints
